/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/layout/_header.scss */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0;
  width: 100%;
  background-color: #edeff1;
}

/* line 12, ../scss/layout/_header.scss */
.header-nav ul {
  display: flex;
  flex-direction: row;
}
/* line 18, ../scss/layout/_header.scss */
.header-nav li a {
  margin-right: 50px;
  color: #31353e;
  font: 400 18px/24px "Roboto", sans-serif;
}
/* line 24, ../scss/layout/_header.scss */
.header-nav li:last-child {
  margin-right: 0;
}

/* line 1, ../scss/layout/sections/_welcome-section.scss */
.welcome-section {
  background-color: #311d5e;
  padding: 490px 0 140px 0;
}
/* line 8, ../scss/layout/sections/_welcome-section.scss */
.welcome-section h2 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font: 300 72px/48px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 30px;
}
/* line 16, ../scss/layout/sections/_welcome-section.scss */
.welcome-section h3 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  font: 700 30px/48px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 130px;
}

/* line 25, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
/* line 30, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li {
  max-width: 325px;
}
/* line 33, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li img {
  display: block;
  margin: 0 auto 35px auto;
  width: 135px;
  height: 135px;
}
/* line 41, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li h3 {
  color: #ffffff;
  font: 700 30px/24px "Roboto Slab", serif;
  margin-bottom: 30px;
  text-decoration: none;
}
/* line 48, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li p {
  color: #fff;
  font: 300 15px/30px "Roboto", sans-serif;
  text-align: center;
}

/* line 1, ../scss/layout/sections/_news-section.scss */
.news-section {
  background-color: #edeff1;
  padding: 80px 0 100px 0;
}
/* line 5, ../scss/layout/sections/_news-section.scss */
.news-section h3 {
  color: #31353e;
  font: 700 30px/24px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 85px;
}

/* line 13, ../scss/layout/sections/_news-section.scss */
.news-list {
  display: flex;
  justify-content: space-between;
}
/* line 17, ../scss/layout/sections/_news-section.scss */
.news-list li {
  text-align: center;
}
/* line 20, ../scss/layout/sections/_news-section.scss */
.news-list li img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
/* line 26, ../scss/layout/sections/_news-section.scss */
.news-list li h4 {
  color: #31353e;
  font: 700 24px/30px "Roboto Slab", serif;
  margin-bottom: 15px;
}
/* line 32, ../scss/layout/sections/_news-section.scss */
.news-list li p {
  max-width: 285px;
  margin: 0 auto 40px auto;
  color: #31353e;
  font: 300 15px/30px "Roboto", sans-serif;
}

/* line 1, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section {
  background: url("../../images/newseller-background.png") center center no-repeat;
  background-size: contain;
  padding: 90px 0 110px 0;
}
/* line 7, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section h3 {
  text-align: center;
  color: #fff;
  font: 700 30px/48px "Roboto Slab", serif;
  margin-bottom: 20px;
}
/* line 14, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section p {
  color: #fff;
  font: 300 15px/24px "Roboto", sans-serif;
  text-align: center;
  max-width: 530px;
  margin: 0 auto 45px auto;
}
/* line 22, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form {
  display: flex;
  justify-content: center;
  max-width: 510px;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 32, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input {
  color: #f3f4f6;
  font: 400 18px/30px "Roboto Slab", serif;
  padding-left: 35px;
  background: none;
  outline: none;
  border: none;
}

/* line 1, ../scss/layout/sections/_projects-list.scss */
.projects-section {
  padding: 70px 0 90px 0;
}

/* line 6, ../scss/layout/sections/_projects-list.scss */
.projects-list li {
  display: flex;
  justify-content: space-between;
}
/* line 10, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content {
  max-width: 560px;
  padding: 50px 0 60px 0;
}
/* line 14, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content h3 {
  color: #191b29;
  font: 700 30px/48px "Roboto Slab", serif;
  margin-bottom: 25px;
}
/* line 20, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content p {
  color: #191b29;
  font: 300 16px/30px "Roboto", sans-serif;
  margin-bottom: 50px;
}
/* line 26, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content .main-button {
  margin: 0;
}
/* line 31, ../scss/layout/sections/_projects-list.scss */
.projects-list li .image-content {
  display: block;
  width: 585px;
  height: 405px;
  background-color: cadetblue;
}

/* line 1, ../scss/layout/_footer.scss */
.footer-top {
  background-color: #d75d0e;
  padding: 100px 0 85px 0;
}
/* line 5, ../scss/layout/_footer.scss */
.footer-top .footer-list {
  display: flex;
  justify-content: space-between;
}
/* line 9, ../scss/layout/_footer.scss */
.footer-top .footer-list li {
  display: flex;
  flex-direction: column;
}
/* line 13, ../scss/layout/_footer.scss */
.footer-top .footer-list li a {
  font: 400 18px/36px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

/* line 22, ../scss/layout/_footer.scss */
.footer-bottom {
  background-color: #311d5e;
  padding-top: 85px;
}
/* line 28, ../scss/layout/_footer.scss */
.footer-bottom p {
  font: 300 18px/24px "Roboto", sans-serif;
  color: #fff;
  max-width: 665px;
  text-align: center;
}

/* line 13, ../scss/style.scss */
body {
  font-size: 14px;
}

/* line 17, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 21, ../scss/style.scss */
button:hover {
  cursor: pointer;
}

/* line 25, ../scss/style.scss */
.wrapper {
  width: 1170px;
  margin: 0 auto;
}

/* line 30, ../scss/style.scss */
.wrapper-big {
  max-width: 1210px;
  margin: 0 auto;
}

/* line 35, ../scss/style.scss */
.logo {
  width: 157px;
  height: 52px;
}

/* line 40, ../scss/style.scss */
.main-button {
  display: block;
  margin: 0 auto;
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #612316;
  font: 400 18px/30px "Roboto Slab", serif;
}

/* line 52, ../scss/style.scss */
.read-more-button {
  width: 179px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #4e5159;
  font: 300 15px/30px "Roboto", sans-serif;
}
