/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header-main {
  padding: 50px 0;
  margin: 0;
  width: 100%;
  background-color: #edeff1; }
  .header-main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header-nav ul {
  display: flex;
  flex-direction: row; }

.header-nav li a {
  margin-right: 50px;
  color: #31353e;
  font: 400 18px/24px "Roboto", sans-serif; }

.header-nav li:last-child a {
  margin-right: 0; }

.welcome-section {
  background: url("../../images/welcome-background.png") center center no-repeat;
  background-size: cover;
  padding: 30px 0 40px 0;
  min-height: calc(100vh - 155px);
  box-sizing: border-box;
  position: relative; }
  .welcome-section .wrapper {
    position: relative;
    top: auto;
    bottom: 0; }
  .welcome-section h2 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font: 300 72px/48px "Roboto Slab", serif;
    text-align: center;
    margin-bottom: 30px; }
  .welcome-section h3 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    font: 700 30px/48px "Roboto Slab", serif;
    text-align: center;
    margin-bottom: 130px; }

.welcome-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; }
  .welcome-dishes li {
    max-width: 325px; }
    .welcome-dishes li img {
      display: block;
      margin: 0 auto 35px auto;
      width: 135px;
      height: 135px;
      border-radius: 50%; }
    .welcome-dishes li h3 {
      color: #ffffff;
      font: 700 30px/24px "Roboto Slab", serif;
      margin-bottom: 25px;
      text-decoration: none; }
    .welcome-dishes li p {
      color: #fff;
      font: 300 15px/30px "Roboto", sans-serif;
      text-align: center; }

.news-section {
  background-color: #edeff1;
  padding: 80px 0 100px 0; }
  .news-section h3 {
    color: #31353e;
    font: 700 30px/24px "Roboto Slab", serif;
    text-align: center;
    margin-bottom: 85px; }

.news-list {
  display: flex;
  justify-content: space-between; }
  .news-list li {
    text-align: center; }
    .news-list li img {
      width: 100%;
      height: auto;
      margin-bottom: 40px; }
    .news-list li h4 {
      color: #31353e;
      font: 700 24px/30px "Roboto Slab", serif;
      margin-bottom: 15px; }
    .news-list li p {
      max-width: 285px;
      margin: 0 auto 40px auto;
      color: #31353e;
      font: 300 15px/30px "Roboto", sans-serif; }

.newsletter-section {
  background: url("../../images/newseller-background.png") center center no-repeat;
  background-size: cover;
  padding: 90px 0 110px 0; }
  .newsletter-section h3 {
    text-align: center;
    color: #fff;
    font: 700 30px/48px "Roboto Slab", serif;
    margin-bottom: 20px; }
  .newsletter-section p {
    color: #fff;
    font: 300 15px/24px "Roboto", sans-serif;
    text-align: center;
    max-width: 530px;
    margin: 0 auto 45px auto; }
  .newsletter-section form {
    max-width: 510px;
    margin: 0 auto;
    position: relative; }
    .newsletter-section form input {
      color: #f3f4f6;
      font: 400 18px/30px "Roboto Slab", serif;
      padding: 0 215px 0 35px;
      background-color: rgba(255, 255, 255, 0.25);
      outline: none;
      border: 1px solid #fff;
      border-radius: 27px;
      position: relative;
      height: 54px;
      box-sizing: border-box;
      width: 100%; }
      .newsletter-section form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff; }
      .newsletter-section form input::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .newsletter-section form input:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff; }
      .newsletter-section form input:-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
    .newsletter-section form button {
      border-radius: 27px;
      position: absolute;
      top: 0;
      right: 0; }

.projects-section {
  padding: 70px 0 80px 0; }

.projects-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }
  .projects-list li .list-content {
    max-width: 52%;
    padding: 50px;
    box-sizing: border-box; }
    .projects-list li .list-content h3 {
      color: #191b29;
      font: 700 30px/48px "Roboto Slab", serif;
      margin-bottom: 25px; }
    .projects-list li .list-content p {
      color: #191b29;
      font: 300 16px/30px "Roboto", sans-serif;
      margin-bottom: 50px; }
    .projects-list li .list-content .main-button {
      margin: 0;
      background-color: #dd4b2b;
      color: #fff; }
  .projects-list li .image-content {
    display: block;
    width: 48%;
    height: auto;
    background-color: cadetblue; }
  .projects-list li:nth-child(even) .list-content {
    order: 2; }
  .projects-list li:nth-child(even) .image-content {
    order: 1; }
  .projects-list li:nth-child(even) .main-button {
    background-color: #4b4e73; }

.footer-top {
  background-color: #d75d0e;
  padding: 100px 0 85px 0; }
  .footer-top .footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .footer-top .footer-list li {
      display: flex;
      flex-direction: column;
      width: 33%; }
      @media (max-width: 991px) {
        .footer-top .footer-list li {
          width: 50%; } }
      .footer-top .footer-list li a {
        font: 400 18px/36px "Roboto", sans-serif;
        color: #fff;
        text-align: center; }

.footer-bottom {
  background-color: #311d5e;
  background: url("../../images/newseller-background.png") center center no-repeat;
  background-size: cover;
  padding-top: 85px;
  min-height: 290px; }
  .footer-bottom p {
    font: 300 18px/24px "Roboto", sans-serif;
    color: #fff;
    max-width: 665px;
    text-align: center;
    padding-bottom: 50px; }

body {
  font-size: 14px; }

a {
  text-decoration: none; }

input:focus,
button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .wrapper {
      width: 992px; } }
  @media (max-width: 991px) {
    .wrapper {
      width: 768px; } }
  @media (max-width: 767px) {
    .wrapper {
      width: 575px; } }
  @media (max-width: 600px) {
    .wrapper {
      width: 100%; } }

.wrapper-big {
  max-width: 1210px;
  margin: 0 auto; }

.logo {
  width: 157px;
  height: 52px; }

.main-button {
  display: block;
  margin: 0 auto;
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #612316;
  font: 400 18px/30px "Roboto Slab", serif; }

.read-more-button {
  width: 179px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #4e5159;
  font: 300 15px/30px "Roboto", sans-serif; }
