/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/layout/_header.scss */
.header-main {
  padding: 50px 0;
  margin: 0;
  width: 100%;
  background-color: #edeff1;
}
/* line 7, ../scss/layout/_header.scss */
.header-main .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 15, ../scss/layout/_header.scss */
.header-nav ul {
  display: flex;
  flex-direction: row;
}
/* line 21, ../scss/layout/_header.scss */
.header-nav li a {
  padding: 17px 30px;
  color: #31353e;
  font: 400 18px/24px "Roboto", sans-serif;
}
/* line 27, ../scss/layout/_header.scss */
.header-nav li:hover {
  border-radius: 25px;
  background-color: #dd4b2b;
  color: #edeff1;
}

/* line 1, ../scss/layout/sections/_welcome-section.scss */
.welcome-section {
  background: url("../../images/welcome-background.png") center center no-repeat;
  background-size: cover;
  padding: 100px 0 40px 0;
  min-height: calc(100vh - 155px);
  box-sizing: border-box;
  position: relative;
}
/* line 9, ../scss/layout/sections/_welcome-section.scss */
.welcome-section .wrapper {
  position: relative;
  top: auto;
  bottom: 0;
}
/* line 15, ../scss/layout/sections/_welcome-section.scss */
.welcome-section h2 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font: 300 72px/48px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 30px;
}
/* line 23, ../scss/layout/sections/_welcome-section.scss */
.welcome-section h3 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  font: 700 30px/48px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 130px;
}

/* line 32, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
/* line 37, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
  padding: 0 25px;
}
/* line 43, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li:last-child {
  margin-right: 0;
}
/* line 47, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li img {
  display: block;
  margin: 0 auto 35px auto;
  max-width: 135px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
/* line 56, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li h3 {
  color: #ffffff;
  font: 700 30px/24px "Roboto Slab", serif;
  margin-bottom: 25px;
  text-decoration: none;
}
/* line 63, ../scss/layout/sections/_welcome-section.scss */
.welcome-dishes li p {
  color: #fff;
  font: 300 15px/30px "Roboto", sans-serif;
  text-align: center;
}

/* line 1, ../scss/layout/sections/_news-section.scss */
.news-section {
  background-color: #edeff1;
  padding: 80px 0 100px 0;
}
/* line 5, ../scss/layout/sections/_news-section.scss */
.news-section h3 {
  color: #31353e;
  font: 700 30px/24px "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 85px;
}

/* line 13, ../scss/layout/sections/_news-section.scss */
.news-list {
  display: flex;
  justify-content: space-between;
}
/* line 17, ../scss/layout/sections/_news-section.scss */
.news-list li {
  max-width: 370px;
  width: 100%;
  margin-right: 20px;
  text-align: center;
}
/* line 23, ../scss/layout/sections/_news-section.scss */
.news-list li:nth-child(3n) {
  margin-right: 0;
}
/* line 26, ../scss/layout/sections/_news-section.scss */
.news-list li img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
/* line 32, ../scss/layout/sections/_news-section.scss */
.news-list li h4 {
  color: #31353e;
  font: 700 24px/30px "Roboto Slab", serif;
  margin-bottom: 15px;
}
/* line 38, ../scss/layout/sections/_news-section.scss */
.news-list li p {
  max-width: 285px;
  margin: 0 auto 40px auto;
  color: #31353e;
  font: 300 15px/30px "Roboto", sans-serif;
}

/* line 1, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section {
  background: url("../../images/newseller-background.png") center center no-repeat;
  background-size: cover;
  padding: 90px 0 110px 0;
}
/* line 7, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section h3 {
  text-align: center;
  color: #fff;
  font: 700 30px/48px "Roboto Slab", serif;
  margin-bottom: 20px;
}
/* line 14, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section p {
  color: #fff;
  font: 300 15px/24px "Roboto", sans-serif;
  text-align: center;
  max-width: 530px;
  width: 100%;
  margin: 0 auto 45px auto;
}
/* line 23, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form {
  max-width: 510px;
  margin: 0 auto;
  position: relative;
}
/* line 28, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input {
  color: #f3f4f6;
  font: 400 18px/30px "Roboto Slab", serif;
  padding: 0 215px 0 35px;
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
  border: 1px solid #fff;
  border-radius: 27px;
  position: relative;
  height: 54px;
  box-sizing: border-box;
  width: 100%;
}
/* line 41, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
/* line 44, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
/* line 47, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
/* line 50, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
/* line 55, ../scss/layout/sections/_newsletter-section.scss */
.newsletter-section form button {
  border-radius: 27px;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 1, ../scss/layout/sections/_projects-list.scss */
.projects-section {
  padding: 70px 0 80px 0;
}

/* line 6, ../scss/layout/sections/_projects-list.scss */
.projects-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
/* line 11, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content {
  max-width: 52%;
  padding: 50px;
  box-sizing: border-box;
}
/* line 16, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content h3 {
  color: #191b29;
  font: 700 30px/48px "Roboto Slab", serif;
  margin-bottom: 25px;
}
/* line 22, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content p {
  color: #191b29;
  font: 300 16px/30px "Roboto", sans-serif;
  margin-bottom: 50px;
}
/* line 28, ../scss/layout/sections/_projects-list.scss */
.projects-list li .list-content .main-button {
  margin: 0;
  background-color: #dd4b2b;
  color: #fff;
}
/* line 35, ../scss/layout/sections/_projects-list.scss */
.projects-list li .image-content {
  width: 48%;
  height: auto;
  max-height: 585px;
  overflow: hidden;
  border: 1px solid #dbdbdb;
}
/* line 44, ../scss/layout/sections/_projects-list.scss */
.projects-list li:nth-child(even) .list-content {
  order: 2;
}
/* line 48, ../scss/layout/sections/_projects-list.scss */
.projects-list li:nth-child(even) .image-content {
  order: 1;
}
/* line 52, ../scss/layout/sections/_projects-list.scss */
.projects-list li:nth-child(even) .main-button {
  background-color: #4b4e73;
}

/* line 1, ../scss/layout/_footer.scss */
.footer-top {
  background-color: #d75d0e;
  padding: 100px 0 85px 0;
}
/* line 5, ../scss/layout/_footer.scss */
.footer-top .footer-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 10, ../scss/layout/_footer.scss */
.footer-top .footer-list li {
  display: flex;
  flex-direction: column;
  width: 33%;
}
/* line 15, ../scss/layout/_footer.scss */
.footer-top .footer-list li a {
  font: 400 18px/36px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

/* line 24, ../scss/layout/_footer.scss */
.footer-bottom {
  background-color: #311d5e;
  background: url("../../images/newseller-background.png") center center no-repeat;
  background-size: cover;
  padding-top: 85px;
  min-height: 290px;
}
/* line 31, ../scss/layout/_footer.scss */
.footer-bottom p {
  font: 300 18px/24px "Roboto", sans-serif;
  color: #fff;
  max-width: 665px;
  text-align: center;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  /* line 3, ../scss/base/_media.scss */
  .header-main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /* line 8, ../scss/base/_media.scss */
  .header-main .wrapper .logo {
    margin-bottom: 20px;
  }

  /* line 15, ../scss/base/_media.scss */
  .welcome-section h2 {
    font: 300 60px/48px "Roboto Slab", serif;
  }

  /* line 20, ../scss/base/_media.scss */
  .welcome-dishes {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  /* line 25, ../scss/base/_media.scss */
  .welcome-dishes li {
    margin-bottom: 20px;
  }

  /* line 30, ../scss/base/_media.scss */
  .news-section {
    padding-bottom: 60px;
  }
  /* line 33, ../scss/base/_media.scss */
  .news-section .news-list {
    justify-content: center;
    flex-wrap: wrap;
  }
  /* line 37, ../scss/base/_media.scss */
  .news-section .news-list li {
    margin-bottom: 30px;
  }

  /* line 44, ../scss/base/_media.scss */
  .projects-section .wrapper-big {
    padding: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 52, ../scss/base/_media.scss */
  .welcome-section h2 {
    font: 300 50px/48px "Roboto Slab", serif;
  }
  /* line 56, ../scss/base/_media.scss */
  .welcome-section h3 {
    font: 700 25px/48px "Roboto Slab", serif;
  }
  /* line 61, ../scss/base/_media.scss */
  .welcome-section .welcome-dishes li {
    margin-right: 0;
  }

  /* line 68, ../scss/base/_media.scss */
  .projects-list li {
    margin-bottom: 30px;
  }
  /* line 71, ../scss/base/_media.scss */
  .projects-list li .list-content {
    max-width: 52%;
    padding: 25px;
  }
  /* line 75, ../scss/base/_media.scss */
  .projects-list li .list-content h3 {
    font: 700 20px/48px "Roboto Slab", serif;
    margin-bottom: 15px;
  }
  /* line 80, ../scss/base/_media.scss */
  .projects-list li .list-content p {
    font: 300 14px/30px "Roboto", sans-serif;
    margin-bottom: 30px;
  }
  /* line 87, ../scss/base/_media.scss */
  .projects-list li .image-content {
    width: 48%;
    height: auto;
    overflow: hidden;
    border: 1px solid #dbdbdb;
  }
}
@media only screen and (max-width: 768px) {
  /* line 99, ../scss/base/_media.scss */
  .header-nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* line 104, ../scss/base/_media.scss */
  .header-nav ul li {
    margin: 5px;
  }

  /* line 110, ../scss/base/_media.scss */
  .news-list {
    display: flex;
    flex-direction: column;
  }
  /* line 114, ../scss/base/_media.scss */
  .news-list li {
    margin: 0 auto;
  }
  /* line 117, ../scss/base/_media.scss */
  .news-list li:nth-child(3n) {
    margin-right: auto;
  }

  /* line 124, ../scss/base/_media.scss */
  .newsletter-section p {
    max-width: 450px;
  }
  /* line 128, ../scss/base/_media.scss */
  .newsletter-section form {
    max-width: 350px;
  }
  /* line 131, ../scss/base/_media.scss */
  .newsletter-section form input {
    font: 400 14px/30px "Roboto Slab", serif;
    height: 40px;
  }
  /* line 136, ../scss/base/_media.scss */
  .newsletter-section form .main-button {
    width: 150px;
    height: 40px;
    font: 400 14px/30px "Roboto Slab", serif;
  }

  /* line 144, ../scss/base/_media.scss */
  .footer-top {
    padding: 30px 0 25px 0;
  }
  /* line 147, ../scss/base/_media.scss */
  .footer-top .footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 152, ../scss/base/_media.scss */
  .footer-top .footer-list li {
    margin: 20px;
  }

  /* line 159, ../scss/base/_media.scss */
  .footer-bottom p {
    max-width: 450px;
  }

  /* line 165, ../scss/base/_media.scss */
  .projects-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  /* line 170, ../scss/base/_media.scss */
  .projects-list li .list-content {
    max-width: 100%;
    padding: 25px;
    order: 2;
  }
  /* line 175, ../scss/base/_media.scss */
  .projects-list li .list-content h3 {
    text-align: center;
    font: 700 20px/48px "Roboto Slab", serif;
    margin-bottom: 15px;
  }
  /* line 181, ../scss/base/_media.scss */
  .projects-list li .list-content p {
    font: 300 14px/30px "Roboto", sans-serif;
    margin-bottom: 20px;
  }
  /* line 186, ../scss/base/_media.scss */
  .projects-list li .list-content .main-button {
    margin: 0 auto;
    width: 150px;
    height: 40px;
    font: 400 14px/30px "Roboto Slab", serif;
  }
  /* line 194, ../scss/base/_media.scss */
  .projects-list li .image-content {
    width: 100%;
    height: auto;
    height: 200px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    order: 1;
  }
}
@media only screen and (max-width: 480px) {
  /* line 208, ../scss/base/_media.scss */
  .welcome-section h2 {
    font: 300 35px/48px "Roboto Slab", serif;
    margin-bottom: 10px;
  }
  /* line 213, ../scss/base/_media.scss */
  .welcome-section h3 {
    font: 700 25px/48px "Roboto Slab", serif;
    margin-bottom: 50px;
  }
  /* line 219, ../scss/base/_media.scss */
  .welcome-section .welcome-dishes li {
    margin-bottom: 50px;
  }
  /* line 222, ../scss/base/_media.scss */
  .welcome-section .welcome-dishes li h3 {
    font: 700 20px/24px "Roboto Slab", serif;
    margin-bottom: 15px;
  }
  /* line 227, ../scss/base/_media.scss */
  .welcome-section .welcome-dishes li p {
    font: 300 15px/30px "Roboto", sans-serif;
  }
  /* line 233, ../scss/base/_media.scss */
  .welcome-section .main-button {
    width: 150px;
    height: 40px;
    font: 400 14px/30px "Roboto Slab", serif;
  }

  /* line 241, ../scss/base/_media.scss */
  .news-section h3 {
    font: 700 25px/48px "Roboto Slab", serif;
    margin-bottom: 50px;
  }
  /* line 247, ../scss/base/_media.scss */
  .news-section .news-list h4 {
    font: 700 20px/24px "Roboto Slab", serif;
    margin-bottom: 15px;
  }
  /* line 252, ../scss/base/_media.scss */
  .news-section .news-list p {
    font: 300 15px/30px "Roboto", sans-serif;
  }
  /* line 256, ../scss/base/_media.scss */
  .news-section .news-list .read-more-button {
    width: 120px;
    height: 50px;
    font: 300 12px/30px "Roboto", sans-serif;
  }

  /* line 265, ../scss/base/_media.scss */
  .newsletter-section h3 {
    font: 700 25px/48px "Roboto Slab", serif;
  }
  /* line 269, ../scss/base/_media.scss */
  .newsletter-section p {
    font: 300 15px/25px "Roboto", sans-serif;
    max-width: 300px;
  }
  /* line 274, ../scss/base/_media.scss */
  .newsletter-section form {
    max-width: 300px;
  }
  /* line 277, ../scss/base/_media.scss */
  .newsletter-section form input {
    font: 400 12px/30px "Roboto Slab", serif;
    height: 40px;
    padding: 0 150px 0 15px;
  }
  /* line 283, ../scss/base/_media.scss */
  .newsletter-section form .main-button {
    width: 150px;
    height: 40px;
    font: 400 14px/30px "Roboto Slab", serif;
  }

  /* line 292, ../scss/base/_media.scss */
  .footer-top .footer-list {
    display: flex;
    flex-direction: column;
  }
  /* line 296, ../scss/base/_media.scss */
  .footer-top .footer-list li {
    width: 100%;
    margin: 0 auto 20px auto;
  }
  /* line 300, ../scss/base/_media.scss */
  .footer-top .footer-list li a {
    font: 400 13px/20px "Roboto", sans-serif;
  }

  /* line 308, ../scss/base/_media.scss */
  .footer-bottom p {
    font: 300 13px/20px "Roboto", sans-serif;
    max-width: 300px;
  }
}
/* line 17, ../scss/style.scss */
body {
  font-size: 14px;
}

/* line 21, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 25, ../scss/style.scss */
input:focus,
button:focus {
  outline: none;
}

/* line 30, ../scss/style.scss */
button:hover {
  cursor: pointer;
}

/* line 34, ../scss/style.scss */
.wrapper {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

/* line 56, ../scss/style.scss */
.wrapper-big {
  max-width: 1210px;
  margin: 0 auto;
}

/* line 77, ../scss/style.scss */
.logo {
  width: 157px;
  height: 52px;
}

/* line 82, ../scss/style.scss */
.main-button {
  display: block;
  margin: 0 auto;
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #612316;
  font: 400 18px/30px "Roboto Slab", serif;
}

/* line 94, ../scss/style.scss */
.read-more-button {
  width: 179px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #4e5159;
  font: 300 15px/30px "Roboto", sans-serif;
}
