.footer-top {
  background-color: #d75d0e;
  padding: 100px 0 85px 0;

  .footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: column;
      width: 33%;

      a {
        font: 400 18px/36px $Roboto;
        color: #fff;
        text-align: center;
      }
    }
  }
}

.footer-bottom {
  background-color: #311d5e;
  background: url('../../images/newseller-background.png') center center no-repeat;
  background-size: cover;
  padding-top: 85px;
  min-height: 290px;

  p {
    font: 300 18px/24px $Roboto;
    color: #fff;
    max-width: 665px;
    text-align: center;
    padding-bottom: 50px;
  }
}