.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0;
  width: 100%;
  background-color: #edeff1;
}

.header-nav {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    a {
      margin-right: 50px;
      color: #31353e;
      font: 400 18px/24px $Roboto;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

