.projects-section {
  padding: 70px 0 80px 0;
}

.projects-list {
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .list-content {
      max-width: 52%;
      padding: 50px;
      box-sizing: border-box;

      h3 {
        color: #191b29;
        font: 700 30px/48px $Roboto-Slab;
        margin-bottom: 25px;
      }

      p {
        color: #191b29;
        font: 300 16px/30px $Roboto;
        margin-bottom: 50px;
      }

      .main-button {
        margin: 0;
        background-color: #dd4b2b;
        color: $white;
      }
    }

    .image-content {
      display: block;
      width: 48%;
      height: auto;
      background-color: cadetblue;
    }

    &:nth-child(even) {
      .list-content {
        order: 2;
      }

      .image-content {
        order: 1;
      }

      .main-button {
        background-color: #4b4e73;
      }
    }
  }


}

