.welcome-section {
  background: url("../../images/welcome-background.png") center center no-repeat;
  background-size: cover;
  padding: 30px 0 40px 0;
  min-height: calc(100vh - 155px);
  box-sizing: border-box;
  position: relative;

  .wrapper {
    position: relative;
    top: auto;
    bottom: 0;
  }

  h2 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font: 300 72px/48px $Roboto-Slab;
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    font: 700 30px/48px $Roboto-Slab;
    text-align: center;
    margin-bottom: 130px;
  }
}

.welcome-dishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  li {
    max-width: 370px;
    width: 100%;
    margin-right:30px;
    padding:0 25px;

    &:last-child{
      margin-right:0;
    }

    img {
      display: block;
      margin: 0 auto 35px auto;
      max-width: 135px;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }

    h3 {
      color: #ffffff;
      font: 700 30px/24px $Roboto-Slab;
      margin-bottom: 25px;
      text-decoration: none;
    }

    p {
      color: #fff;
      font: 300 15px/30px $Roboto;
      text-align: center;
    }
  }
}

