/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}






ul {
  margin: 0;
  padding: 0;
  list-style: none;
}





//@import "compass/reset";







@import "base/variables";

@import "layout/header";
@import "layout/sections/welcome-section";
@import "layout/sections/news-section";
@import "layout/sections/newsletter-section";
@import "layout/sections/projects-list";
@import "layout/footer";


body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 992px;
  }

  @media (max-width: 991px) {
    width: 768px;
  }

  @media (max-width: 767px) {
    width: 575px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.wrapper-big {
  max-width: 1210px;
  margin: 0 auto;
}

.logo {
  width: 157px;
  height: 52px;
}

.main-button {
  display: block;
  margin: 0 auto;
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #612316;
  font: 400 18px/30px $Roboto-Slab;
}

.read-more-button {
  width: 179px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  color: #4e5159;
  font: 300 15px/30px $Roboto;
}